/*
font-family: 'Comfortaa', sans-serif;
font-family: 'Press Start 2P', monospace;
font-family: 'VT323', monospace;
*/

body,
html {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url("imgs/dayEdit.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.dark-mode {
  background-image: url("imgs/nightEdit.jpg");
}
.pgContainer {
  position: relative;
}

h1 {
  text-align: center;
  font-family: "Comfortaa", sans-serif;
  font-weight: bold700;
  font-size: 45px;
  background-color: white;
  padding: 8px;
  margin-top: 0;
}
/* This styling is for the center square display where character and scores appear*/
.squareDisplay {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10px;
  border-radius: 55px;
  background-color: #c3baba;
  width: 250px;
  height: 250px;
  box-shadow: 0 0 20px black;
  z-index: 1;
  font-family: "VT323", monospace;
  color: #626968;
  text-align: center;
}

.hola {
  font-size: 14px;
}

.topStatusBar {
  display: flex;
  margin-top: -75px;
}

.name,
.age {
  display: inline-block;
  font-size: 18px;
  text-align: center;
  z-index: 3;
  margin-left: 20px;
  padding-left: 15px;
  padding-right: 5px;
}

.scoreStatusBar {
  display: flex;
  font-size: 14px;
  margin-top: -32px;
  text-align: justify;
}

p {
  display: inline-block;
  margin-left: 5px;
  padding: 15px;
}

.petIcon {
  z-index: 2;
  margin-top: -75px;
  animation-name: iconMove;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes iconMove {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-60px);
  }

  100% {
    transform: translateX(60px);
  }
}

/*25% {
    background-color: yellow;
    background-color: #8a5ae2;
    background-color: green;

    0% { transform: translateY(0); }
    50%  { transform: translateY(-100px); }
    100% { transform: translateY(0); }
  }


  */

/* The styling below is for various buttons*/
.container2 {
  display: flex;
}
.startBtn,
.lightBtn {
  margin: auto;
  margin-top: 25px;
  background-color: #8a5ae2;
  color: white;
  font-family: "Comfortaa", sans-serif;
  font-size: 14px;
  height: 35px;
  width: 100px;
  border-radius: 50px;
  border: 1px solid black;
}

.mainBtn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

button {
  margin-top: 25px;
  display: inline-block;
  background-color: #f3eb6c;
  font-family: "Comfortaa", sans-serif;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: none;
  /*border: 2px solid black;*/
  outline: none;
  font-size: 12px;
  box-shadow: 0 0 20px black;
}

/* Animations */

@keyframes example {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 200px;
    top: 0px;
  }
  50% {
    left: 200px;
    top: 200px;
  }
  75% {
    left: 0px;
    top: 200px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
