/*
font-family: 'Comfortaa', cursive;
font-family: 'Press Start 2P', monospace;
font-family: 'VT323', monospace;
*/

body,
html {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url("imgs/maxim-berg-unsplash.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pgContainer {
  position: relative;
}

h1 {
  text-align: center;
  font-family: "Comfortaa", sans-serif;
  font-weight: bold700;
  font-size: 50px;
  background-color: white;
  padding: 8px;
  margin-top: 0;
}

.squareDisplay {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10px;
  border-radius: 55px;
  background-color: #c3baba;
  width: 250px;
  height: 250px;
  box-shadow: 0 0 20px black;
  z-index: 1;
}

.name {
  font-family: "VT323", monospace;
  font-size: 24px;
  color: #626968;
  position: relative;
  text-align: center;
  z-index: 3;
}

.petIcon {
  z-index: 2;
  margin-top: -40px;
}

.mainBtn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

button {
  margin-top: 25px;
  display: inline-block;
  background-color: #f3eb6c;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: none;
  /*border: 2px solid black;*/
  outline: none;
  font-size: 14px;
  box-shadow: 0 0 20px black;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: white;
  text-align: center;
  padding: 25px;
  width: 100%;
}

/*
.circle {
  background-color: green;
  height: 80px;
  width: 80px;
  border-radius: 50px;
}
*/
